@import 'src/shared/styles/main';

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 282px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  color: $dark-gray;
  border: none;
  @media (max-width: 1400px) {
    position: absolute;
    z-index: 2;
    top: 180px;
    left: 13px;
  }
  &::before {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url("/image/geo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    @media (max-width: 1400px) {
      margin-right: 7px;
    }
  }
}
.number {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: $dark-gray;
  @media (max-width: 1400px) {
    margin: 0 0 0 0;
  }
  &::before {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url("/image/phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }
}
