$font-family-primary: Inter, sans-serif;
$font-family-secondary: Play-Bold, sans-serif;

/* font weight*/
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-P-Bold: Play-Bold, sans-serif;
$font-P-Regular: Play-Regular, sans-serif;
$font-I-Regular: Inter-Regular, sans-serif;
$font-I-Medium: Inter-Medium, sans-serif;
$font-I-Bold: Inter-Bold, sans-serif;

/* font size */
$font-size-small: 16px;
$font-size-small-mobile: 12px;

$font-size-medium: 20px;
$font-size-medium-mobile: 14px;

$font-size-large: 24px;
$font-size-large-mobile: 16px;

$font-size-xmedium: 32px;
$font-size-xlarge-mobile: 18px;

$font-size-caption-mobile: 8px;

$font-size-xlarge: 42px;
$font-size-promo-title: 64px;
$font-size-big: 96px;
$font-size-mlarge: 32px;

$font-size-xlarge: 42px;
$font-size-xlarge-1024: 26px;

$font-size-xxlarge: 56px;
$font-size-xxlarge-1024: 40px;
$font-size-xxlarge-768: 22px;
$font-size-xxlarge-564: 20px;

$font-size-large-adv-nums: 90px;
$font-size-large-nums: 96px;
$font-size-large-nums-1024: 68px;

$font-size-main-banner: 128px;
$font-size-main-banner-1024: 48px;
$font-size-main-banner-564: 26px;

$font-size-fb-title-1280: 66px;
$font-size-fb-title-1366: 76px;
$font-size-fb-title-320: 30px;

